.barcelona{
    color: #dc3545;
    margin-left: 30px;
}
.p-lamine{
    margin-left: 30px;
}
.p2-lamine{
    text-align: justify;
    margin-left: 30px;
}
.h2-lamine{
    margin-left: 30px;
}
.mbappe{
     max-width: 100%;
     height: auto;
    display: block;
     margin: 0 auto; /* Centrar si es necesario */
}

.quote text{
    color: #dc3545;
}
.video-container{
    text-align: center;
}
.futbol-caro{
    margin-left: 30px;
    margin-right: 200px;
}
.h6{
    margin-left: 30px;
}
.centrado-futbol{
    margin: 0 auto;
}

a {
    text-decoration: none;  
    color: inherit; 
}

a:visited {
    color: inherit; 
}

a:hover {
    text-decoration: underline; 
    opacity: 0.8; /* Hace que el texto sea un poco m치s tenue al pasar el mouse */
}
.mbappe{
    display: block;
    margin: auto;
}
.h2_derbi{
    margin-left: 80px;
}
.p_derbi{
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}
.footer-content{
    text-align: center;
}
.dark-mode {
    background-color: #121212;
    color: white;
}

.dark-mode .navbar {
    background-color: #333 !important;
}

.dark-mode .card {
    background-color: #222;
    color: white;
}

.dark-mode footer {
    background-color: #333;
}

.dark-mode a {
    color: #1e90ff; 
}
.carousel-caption h5 {
    font-size: 1.5rem; 
}

.carousel-caption p {
    font-size: 1rem; 
}

@media (max-width: 768px) {
    .carousel-caption h5 {
        font-size: 1rem; /
    }

    .carousel-caption p {
        font-size: 0.8rem; 
    }
}
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.footer nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
audio {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 0 auto;
}

.video-container {
    width: 100%;
    max-width: 560px; /* Mantiene un tama침o m치ximo para que no sea demasiado grande en pantallas grandes */
    margin: 0 auto; /* Centra el video */
}

.video-container iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9; /* Mantiene la relaci칩n de aspecto sin necesidad de padding */
}
