
body {
    background-color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

div {
    margin-top: 6px;
    padding: 6px;
    border: 1px solid black;
}

.header {
    background-color: #990000;
    width: 779px;
    color: white;
    font-size: 1.4em;
    padding: 10px;
    font-weight: bold;
}


.navigation {
    background-color: #CCCCCC;
    width: 779px;
    color: black;
    padding: 10px;
}
.navigation ul {
    list-style: none;
    padding: 0;
}
.navigation li {
    display: inline;
    margin-right: 10px;
}
.navigation a {
    text-decoration: none;
    color: black;
}

.content {
    background-color: #999999;
    width: 464px;
    float: left;
    margin-bottom: 6px;
    color: #000000;
    padding: 15px;
    font-size: 1em;
    line-height: 1.5;
}
.content img {
    float: left;
    margin-right: 10px;
    border: 1px solid black;
    padding: 4px;
}

.rightpanel {
    background-color: #CCCCCC;
    width: 283px;
    margin-left: 0px;
    float: left;
    padding: 10px;
    color: black;
}
.rightpanel ul {
    list-style: none;
    padding-left: 0;
}
.rightpanel ul li {
    margin-bottom: 5px;
}

.footer {
    background-color: #CCCCCC;
    width: 779px;
    text-align: center;
    clear: left;
    padding: 10px;
    font-size: 0.9em;
    color: black;
}
