img.imagen1 {
    float: left;
    width: 120px;
    height: 120px;
}
img.imagen2 {
    float: right;
    width: 120px;
    height: 120px;
}
img.imagen3 {
    float:none;
    width: 120px;
    height: 120px;
}